{{define "head"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ServerPilot</title>
<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
<link rel="alternate icon" href="/favicon.ico"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@xterm/xterm@5/css/xterm.css"/>
<link rel="stylesheet" href="/static/css/base.css"/>
<link rel="stylesheet" href="/static/css/login.css"/>
<link rel="stylesheet" href="/static/css/layout.css"/>
<link rel="stylesheet" href="/static/css/components.css"/>
<link rel="stylesheet" href="/static/css/tabs.css"/>
</head>
<body>

{{end}}
